
@media screen and (max-width: 1200px) { 
    table#cart tbody td .form-control { 
    width:20%; 
    display: inline !important;
    } 
     
    .actions { 
    width:100%; 
    display: flex;
    align-items: center;
    /* margin:1.5em 0; */
    } 
    .actions .btn {
        width:100%;
    }
     
    .actions .btn-info { 
    float:left;
    } 
     
    .actions .btn-danger { 
    float:right;
    } 
     
    table#cart thead {
    display: none;
    } 
     
    table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width:320px;
    } 
/*      
    table#cart tbody tr td:first-child {
    background: #ffffff97;
    color: #fff;
    }  */
     
    table#cart tbody td:before { 
    content: attr(data-th);
    font-weight: bold; 
    display: inline-block;
    width: 8rem;
    } 
     
    table#cart tfoot td {
    display:block;
    } 
    table#cart tfoot td .btn {
    display:block;
    }

}
@media screen and (max-width: 830px) {
    .btn-home {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .btn-home a {
        width: 86% !important;

    }
    .btn-sum-price{
        width: 100% !important;
        padding: 10px 0px 0px 0px !important;
    }
    .btn-pay {
        width: 100% !important;
    }
    .btn-pay a {
        width: 86% !important;

    }
}
.footer-card {
    background-color: #fff;
 }
.number_card span {
    cursor:pointer; 
   
}
.minus_card_2, .plus_card_2,
.minus_card, .plus_card{
			width:35px;
			height:35px;
			background:#f2f2f2;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border:1px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 20px;
            font-size: 15px;
             
}
.number_card_2 input,
.number_card input{
		    height:34px;
            width: 60px;
            text-align: center;
            font-size: 20px;
			border:1px solid #ddd;
			border-radius:4px;
            display: inline-block;
            vertical-align: middle;
}
.Oder_header h2 {
    font-size: 17px;
    padding: 10px 10px;
    margin-bottom: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
}
.Oder-info {
    background-color: #fff;
}
.actions button {
    width: 100%;
}