@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.myProduct {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    /* display: flex;
    align-items: center;
    min-height: 100vh; */
}
.container-product {
   background-color: white;
   border-radius: 5px;
}
.title-product {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.title-product h2 {
    color: #fff;
    position: absolute;
    background: linear-gradient(to left top, rgb(250, 255, 96),green);
    padding: 7px 40px;
    top: -20px;
    left: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px ;
}
.title-product h2:before{
    border-width: 20px 0px 0px 20px;
    border-color: transparent transparent transparent green;
    content: "";
    position: absolute;
    right: -20px;
    width: 0;
    top: 0;
    border-style: solid;
}
.title-product h2:after{
    border-width: 20px 0px 0px 20px;
    transform: rotate(270deg);
    border-color:  transparent transparent transparent green;
    content: "";
    position: absolute;
    left: -20px;
    width: 0;
    top: 0;
    border-style: solid;
}
@media only screen and (max-width: 768px) {
    .title-product  h2{
        width: 70%;
      left: 50%;
      transform: translate(-50%,0);
    }
    .container-product {
        background: linear-gradient(to top, rgb(219, 253, 165), rgb(252, 255, 221)) ;
    }
    .product-box {
        border-radius: 7px;
    }

  }
  @media only screen and (max-width:768px) {
    .title-product  h2{
       font-size: 18px !important;
    }
  }
  @media only screen and (max-width:491px) {
    .title-product  h2{
       font-size: 12px !important;
    }
  }
  @media only screen and (max-width:390px) {
    .title-product  h2{
       font-size: 10px !important;
    }
  }
.product-inner-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.5s, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}
.product-inner-box .icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgb(247, 144, 144);
}
.product-inner-box .icons a:hover i {
    color: #e9a3a3;
}
.product-inner-box .icons a i {
    color: red;
}
.product-inner-box .onsale .badge {
    background: red;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}
.product-inner-box .onsale .badge:before {
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent red;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}
.product-inner-box .onsale .badge:after {
    border-width: 10px 8px 0px 10px;
    border-color:  red transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}
.product-inner-box .onsale_2 .badge_2 {
    background: yellow;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}
.product-inner-box .onsale_2 .badge_2:before {
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent yellow;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}
.product-inner-box .onsale_2 .badge_2:after {
    border-width: 10px 8px 0px 10px;
    border-color:  yellow transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}
.product-inner-box .product-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-inner-box img{
    height: 250px;
    box-shadow: 20px 33px 61px -29px rgb(0 0 0 / 26%);
    object-fit:contain;
    /* box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
    height: 200px;
    width: 100%;
    object-fit: cover; */
}
@media only screen and (max-width: 1200px) {

    .product-inner-box .product-img img {
        height: 200px;
    }
   
}
@media only screen and (max-width: 900px) {

    .product-inner-box .product-img img {
        height: 150px;
    }
   
}
@media only screen and (max-width: 600px) {

    .product-inner-box .product-img img {
        height: 200px;
    }
}
.product-box {
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #e4d0d0;
    border-radius: 5px;
}
@media only screen and (min-width: 1000px) {

 

  }
.product-box:hover .icons{
    transform: rotateY(-3%);
    top:10%;
    opacity: 1;
}
.cart-btn-2,
.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: translate(0,100%);
    transition: all 0.5s, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

}
.cart-btn-2 button,
.cart-btn button {
   border: 1px solid #cd8181;
}
.cart-btn-2 i,
.cart-btn i {
    color: red;
    margin: 0 10px;
}
.product-box:hover .cart-btn-2,
.product-box:hover .cart-btn{
    opacity: 1;
    transform: translate(0,0%);
    transition: all 0.5s, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    
}
.product-info {
    margin-top: 10px;
    /* object-fit: contain; */
    /* margin-left: 40px; */
}
.product-name h3 {
    font-size: 15px;
    /* font-weight: 400; */
}
.product-price {
    color: red;
}
.see-more-container {
    margin-top: 10px;
    height: 40px;
    background-color: #fff ;
    border-radius: 5px;
}
.see-more-product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see-more-product a {
    text-decoration: none;
}