

/* main {
    height: 80;
} */

main#category_container {

    width: 100%;
    height: 100%;
    /* margin-left: calc((100% - 90%)/2); */
    background-color: #2c6bd8;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    margin-top: 1rem;
    display: none;
    overflow: hidden;
}

.category_header {
    /* width: 100%;
    height: 10%; */

    width: 100%;
    height: 60px;
    background-color: #2c6bd8;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.category_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.category_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.category_header .input-group input {
    width: 80%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.category_table {
    width: 95%;
    max-height: calc(95% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.category_table::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.category_table::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.category_table:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.category_table table {
    width: 100%;
    
}


.category_table table,
.category_table th,
.category_table td {
    border-collapse: collapse;
    padding: .8rem;
    text-align: center;
}

.category_table thead th {
    position: sticky;
    top: 0;
    left: 0;
    color: black;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}   

.category_table tbody tr:nth-child(even) {
    background-color: #6865650b;
}

.category_table tbody tr.hide {
    display: none;
}

.category_table tbody tr:hover {
    background-color: rgba(184, 181, 181, 0.4) !important;
}



/* .category_table tbody tr.hide td,
.category_table tbody tr.hide td p {
    
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
} */
/* 
.category_table tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
} */


#category_container .category_table td:nth-child(2) {
    width: 15%;
}

#category_container .category_table td:nth-child(4) {
    width: 13%;
}

#category_container .category_table td:nth-child(5) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#category_container .category_table button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    display: inline-block;
    box-shadow: 0 0.4rem .8rem #0005;
    width: 25%;
    height: 30px;
    color: rgb(0, 0, 0);
    white-space: pre-wrap;
}

#category_container .category_table .edit {
    background-color: rgb(29, 238, 39);
}

#category_container .category_table .view {
    background-color: rgb(203, 206, 203);
}

#category_container .category_table .delete {
    background-color: rgb(226, 61, 39);
}

#category_container .category_table .edit:hover {
    background-color: rgb(10, 189, 19);
}

#category_container .category_table .view:hover {
    background-color: rgb(152, 153, 152);
}

#category_container .category_table .delete:hover {
    background-color: rgb(180, 40, 22);
}

@media (max-width: 1000px) {
    .category_table td:not(:first-of-type) {
        min-width: 12.1rem;
    }

    #category_container .category_table td:nth-child(6) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #category_container .category_table button {
        cursor: pointer;
        border-radius: 10px;
        border: none;
        /* display: block; */
        box-shadow: 0 0.4rem .8rem #0005;
        width: 70%;
        height: 30px;
        color: rgb(0, 0, 0);
    }
}

.category_table thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

.category_table thead th:hover span.icon-arrow {
    border: 1.4px solid #11c3f0;
}

.category_table thead th:hover {
    color: #11c3f0;
}

.category_table thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

.category_table thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

.category_table thead th.active,
.category_table tbody td.active {
    color: #6c00bd;
}

.reload_category {
    position: relative;
}

.category_header .reload_category .reload_category_btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6 url(../imgs/reload.jpg) center / 150% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.category_header .reload_category .reload_category_btn:hover {
    background-color: #fff6;
    transform: scale(1.15);
    cursor: pointer;
}

.category_header .reload_category .add_category_btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6 url(../imgs/sm_5afbe35ff3ec9.jpg) center / 100% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.category_header .reload_category .add_category_btn:hover {
    background-color: #fff6;
    transform: scale(1.15);
    cursor: pointer;
}

.reload_category input {
    display: none;
}