#form_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 85%;
    padding: 20px 30px;
    background-color: #d7dd86;
    box-decoration-break: 2px 5px 5px rgba(0, 0, 0, 15);
    border-radius: 10px;
    overflow: auto;
    margin-top: 50px;
}
.form_profile img {
    width: 50%;
    /* border-radius: 50%; */
    /* text-align: center; */
    /* margin: 10px 0px 20px; */
}

#form_popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.form_ele label {
    font-size: 1.2rem;
    color: #222;
}

.form_ele input,
.form_ele textarea {
    margin-top: 5px;
    display: block;
    width: 100%;

    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form_ele textarea {
    resize: vertical;
    height: 150px;
}

.form_ele select {
    height: 25px;
    margin-top: 5px;
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form_profile .form_footer button,
.form_profile .form_footer input[type="submit"] {
    margin-top: 5px;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.form_profile .form_footer .save {
    background-color: rgb(108, 221, 108);
}

.form_profile .form_footer .add {
    background-color: rgb(233, 131, 36);
}

.form_profile .form_footer .save:hover {
    background-color: rgb(72, 170, 72);
}

.form_profile .form_footer .add:hover {
    background-color: rgb(228, 93, 15);
}

.form_profile .form_footer .cancel:hover {
    background-color: #7e7d7c;
}
