


/* main {
    height: 80;
} */

main#permission_container {

    width: 100%;
    height: 100%;
    /* margin-left: calc((100% - 90%)/2); */
    background-color: rgba(99, 98, 98, 0.333);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    margin-top: 1rem;
    display: none;
    overflow: hidden;
}

.permission_header {
    /* width: 100%;
    height: 10%; */

    width: 100%;
    height: 60px;
    background-color: rgba(92, 89, 89, 0.267);
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.permission_header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.permission_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.permission_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.permission_header .input-group input {
    width: 80%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.permission_table {
    width: 95%;
    max-height: calc(95% - 1.6rem);
    background-color: rgba(143, 141, 141, 0.733);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.permission_table::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.permission_table::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.permission_table:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.permission_table table {
    width: 100%;
    
}


.permission_table table,
.permission_table th,
.permission_table td {
    border-collapse: collapse;
    padding: .8rem;
    text-align: center;
}

.permission_table thead th {
    position: sticky;
    top: 0;
    left: 0;
    color: white;
    background-color: #353535fe;
    cursor: pointer;
    text-transform: capitalize;
}   

.permission_table tbody tr:nth-child(even) {
    background-color: #6865650b;
}

.permission_table tbody tr.hide {
    display: none;
}

.permission_table tbody tr:hover {
    background-color: rgba(184, 181, 181, 0.4) !important;
}

#permission_container .permission_table td:nth-child(1) {
    width: 10%;
}
#permission_container .permission_table td:nth-child(2) {
    width: 12%;
}
#permission_container .permission_table td:nth-child(3) {
    width: 12%;
}
#permission_container .permission_table td:nth-child(4) {
    width: 13%;
}
#permission_container .permission_table td:nth-child(5) {
    width: 13%;
}


#permission_container .permission_table td:nth-child(6) {
    width: 13%;
}

#permission_container .permission_table td:nth-child(7) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#permission_container .permission_table button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    display: inline-block;
    box-shadow: 0 0.4rem .8rem #0005;
    width: 40%;
    height: 30px;
    color: rgb(0, 0, 0);
    white-space: pre-wrap;
}

#permission_container .permission_table .edit {
    background-color: rgb(29, 238, 39);
}

#permission_container .permission_table .delete {
    background-color: rgb(226, 61, 39);
}

#permission_container .permission_table .edit:hover {
    background-color: rgb(10, 189, 19);
}


#permission_container .permission_table .delete:hover {
    background-color: rgb(180, 40, 22);
}

@media (max-width: 1000px) {
    .permission_table td:not(:first-of-type) {
        min-width: 12.1rem;
    }

    #permission_container .permission_table td:nth-child(7) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #permission_container .permission_table button {
        cursor: pointer;
        border-radius: 10px;
        border: none;
        /* display: block; */
        box-shadow: 0 0.4rem .8rem #0005;
        width: 70%;
        height: 30px;
        color: rgb(0, 0, 0);
    }
}

.permission_table thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

.permission_table thead th:hover span.icon-arrow {
    border: 1.4px solid #11c3f0;
}

.permission_table thead th:hover {
    color: #11c3f0;
}

.permission_table thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

.permission_table thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

.permission_table thead th.active,
.permission_table tbody td.active {
    color: #6c00bd;
}

.add_permission {
    position: relative;
}

.permission_header .add_permission .add_permission_btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6 url(../imgs/sm_5afbe35ff3ec9.jpg) center / 100% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.permission_header .add_permission .add_permission_btn:hover {
    background-color: #fff6;
    transform: scale(1.15);
    cursor: pointer;
}

.permission_header .add_permission .reload_permission_btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6 url(../imgs/reload.jpg) center / 150% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.permission_header .add_permission .reload_permission_btn:hover {
    background-color: #fff6;
    transform: scale(1.15);
    cursor: pointer;
}

.add_permission input {
    display: none;
}