
/* main {
    height: 80;
} */

main#suppilier_container {
    width: 100%;
    height: 100%;
    /* margin-left: calc((100% - 90%)/2); */
    background-color: #2c6bd8;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    margin-top: 1rem;
    display: none;
    overflow: hidden;
}

.suppilier_header {
    /* width: 100%;
    height: 10%; */

    width: 100%;
    height: 60px;
    background-color: rgba(92, 89, 89, 0.267);
    padding: 0.8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suppilier_header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 0.8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.suppilier_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #0002;
}

.suppilier_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.suppilier_header .input-group input {
    width: 80%;
    padding: 0 0.5rem 0 0.3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.suppilier_table {
    width: 95%;
    max-height: calc(95% - 1.6rem);
    background-color: #fffb;
    margin: 0.8rem auto;
    border-radius: 0.6rem;
    overflow: auto;
    overflow: overlay;
}

.suppilier_table::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.suppilier_table::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.suppilier_table:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.suppilier_table table {
    width: 100%;
}

.suppilier_table table,
.suppilier_table th,
.suppilier_table td {
    border-collapse: collapse;
    padding: 0.8rem;
    text-align: center;
}

.suppilier_table thead th {
    position: sticky;
    top: 0;
    left: 0;
    color: black;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

.suppilier_table tbody tr:nth-child(even) {
    background-color: #6865650b;
}

.suppilier_table tbody tr.hide {
    display: none;
}

.suppilier_table tbody tr:hover {
    background-color: rgba(184, 181, 181, 0.4) !important;
}

#suppilier_container .suppilier_table td:nth-child(1) {
    width: 10%;
}
#suppilier_container .suppilier_table td:nth-child(2) {
    width: 15%;
}
#suppilier_container .suppilier_table td:nth-child(3) {
    width: 15%;
}
#suppilier_container .suppilier_table td:nth-child(4) {
    width: 13%;
}

#suppilier_container .suppilier_table td:nth-child(5) {
    width: 15%;
}

#suppilier_container .suppilier_table td:nth-child(6) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#suppilier_container .suppilier_table button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    display: inline-block;
    box-shadow: 0 0.4rem 0.8rem #0005;
    width: 40%;
    height: 30px;
    color: rgb(0, 0, 0);
    white-space: pre-wrap;
}

#suppilier_container .suppilier_table .edit {
    background-color: rgb(29, 238, 39);
}

#suppilier_container .suppilier_table .delete {
    background-color: rgb(226, 61, 39);
}

#suppilier_container .suppilier_table .edit:hover {
    background-color: rgb(10, 189, 19);
}

#suppilier_container .suppilier_table .delete:hover {
    background-color: rgb(180, 40, 22);
}

@media (max-width: 1000px) {
    .suppilier_table td:not(:first-of-type) {
        min-width: 12.1rem;
    }

    #suppilier_container .suppilier_table td:nth-child(6) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #suppilier_container .suppilier_table button {
        cursor: pointer;
        border-radius: 10px;
        border: none;
        /* display: block; */
        box-shadow: 0 0.4rem 0.8rem #0005;
        width: 70%;
        height: 30px;
        color: rgb(0, 0, 0);
    }
}

.suppilier_table thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
}

.suppilier_table thead th:hover span.icon-arrow {
    border: 1.4px solid #11c3f0;
}

.suppilier_table thead th:hover {
    color: #11c3f0;
}

.suppilier_table thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

.suppilier_table thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

.suppilier_table thead th.active,
.suppilier_table tbody td.active {
    color: #6c00bd;
}

.reload_suppilier {
    position: relative;
}

.suppilier_header .reload_suppilier .reload_suppilier_btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6 url(../imgs/reload.jpg) center / 150% no-repeat;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.suppilier_header .reload_suppilier .reload_suppilier_btn:hover {
    background-color: #fff6;
    transform: scale(1.15);
    cursor: pointer;
}

.suppilier_header .reload_suppilier .add_suppilier_btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6 url(../imgs/sm_5afbe35ff3ec9.jpg) center / 100% no-repeat;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.suppilier_header .reload_suppilier .add_suppilier_btn:hover {
    background-color: #fff6;
    transform: scale(1.15);
    cursor: pointer;
}

.reload_suppilier input {
    display: none;
}
